:root {
    --primary-color: #0e9ab6dd;
    --secundary-color: #f9a931;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, Sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 9rem;
    margin: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 15px;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    background-color: var(--secundary-color);
    padding: 16px;
    position: absolute;
    bottom: 10px;
    /*si pongo aqui un position absolute se quita el section*/
}

.hero article img {
    float: right;
    width: 110px;
    /*Porque si agrando la imagen no puedo usar claer both?*/
}

.history {
    display: flex;
    align-items: center;
}

.history img {
    width: 20rem;
    height: 10rem;
}

.adventure {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.adventure figcaption {
    text-align: center;
}

.adventure img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: end;
    gap: 67px;
}

footer img {
    width: 40px;
    margin: 0;
    padding: 0;
}