* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px
}

main img {
    float: right;
}