* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: steelblue;
    --text-color: white;
    --aside-bg: #eee;
    --aside-border: rgba(0, 0, 0, 0.2);
    --border-color: steelblue;

}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
    float: right;
}

main {
    max-width: 840px;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid var(--aside-border);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 65 px;
    left: 150px;
    color: #eee;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*class selector*/
.box {
    margin: 1 rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000
}

.indent {
    padding-left: 2rem;
}