:root {
    --main-color: steelblue;
    --text-color: white;
    --aside-bg: #eee;
    --aside-border: rgba(0, 0, 0, 0.2);
    --border-color: steelblue;

}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

main {
    max-width: 840px;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid var(--aside-border);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}