header {
    background-color: black;
    color: white;
    padding: 5px;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
}

.box h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
    margin-bottom: 12px;
}